.navegador{
    background-color: black;
    display: grid;
    grid-template-columns: 10vw 10vw 10vw;
    grid-template-rows: 2.5vw;
}
#boton{
    grid-column-start: 1;
    justify-self: center;
    align-self: stretch;
    background-color: aquamarine;

}